.outerInput {
	width: 80%;
	background: url("../images/bg-boost-desktop.svg") no-repeat;
	background-color: hsl(257, 27%, 26%);
	padding: 2em;
	border-radius: 0.5em;
	position: absolute;
	top: -3rem;
}

form {
	display: flex;
}

.input {
	width: 85%;
	padding: 0.5em;
	border-radius: 0.3em;
	border: none;
	margin-right: 1em;
}

.input.error {
	border: 1px solid tomato;
}

.input.error::placeholder {
	color: tomato;
}

.input:focus {
	outline: none;
}

.submitBtn {
	background-color: hsl(180, 66%, 49%);
	color: hsl(0, 0%, 100%);
	border: none;
	padding: 0.25em 1.25em;
	cursor: pointer;
	padding: 0.6em 1.5em;
	border-radius: 0.3em;
	margin-left: auto;
}

.submitBtn:hover {
	background-color: hsl(180, 77%, 54%);
}

.submitBtn:disabled {
	cursor: not-allowed;
	background-color: rgb(199, 198, 198);
}

.submit,
input {
	font-size: 0.8rem;
}

.resultsWrapper {
	margin-top: 1.5em;
}

@media only screen and (max-width: 915px) {
	.input {
		width: 100%;
		margin-right: 0;
		padding: 1em;
	}

	.submitBtn {
		width: 100%;
		margin-top: 0.5em;
		padding: 0.8em 0;
	}
}