footer {
	background-color: hsl(255, 11%, 22%);
	padding: 2em 0;
}

.footerContainer {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/*** Footer Navbar ***/
.navbarBottom {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.navbarBottom ul li {
	color: white;
	list-style: none;
}

.navbarBottom ul li:first-child {
	margin-bottom: 0.5em;
}

.navbarBottom ul li a {
	color: white;
	text-decoration: none;
	font-size: 0.7rem;
	color: hsl(0, 0%, 75%);
}

.navbar ul li a,
.login,
.navbarBottom ul li a,
.socialMediaIcon {
	transition: all 0.3s;
}

.navbar ul li a:hover,
.login:hover,
.navbarBottom ul li a:hover,
.socialMediaIcon:hover {
	cursor: pointer;
	color: hsl(180, 66%, 49%);
}

/*** Footer Social Media ***/
.socialMediaIcon {
	color: white;
	font-size: 1.5rem;
	margin-right: 1em;
}

.socialMediaIcon:last-child {
	margin-right: 0;
}

@media only screen and (max-width: 915px) {
	.footerContainer {
		flex-direction: column;
		align-items: center;
	}

	.navbarBottom {
		width: 100%;
		margin: 2em 0;
	}
}

@media only screen and (max-width: 750px) {
}

@media only screen and (max-width: 400px) {
	.navbarBottom {
		flex-direction: column;
	}

	.navbarBottom ul {
		text-align: center;
		margin-bottom: 2em;
	}

	.navbarBottom ul:last-child {
		margin-bottom: 0;
	}
}